@import url(/css/import/header.css);




.outline_1 {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.outline_2 {
    border-bottom: 1px solid black;
    width: 300px;
}

.new-content_img {
    width: 300px;
    margin-top: 20px;
}

.new-content_cta {
    background-color: #7cea83;
    height: 44px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.new-content_cta a {
    color: white;
    display: flex;
    margin-left: 10px;
}

/* CAROUSEL */

.more-content_h2 {
    text-align: center;
}

.carousel {
    width: 220px;
    height: 350px;
    margin: 0 0 20px 38px;
    position: relative;

}

.carousel>ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
}

.slide>img {
    display: block;
    width: 220px;
    height: 208px;
    object-fit: cover;
    object-position: center;
}

.slide[data-active] {
    opacity: 1;
    z-index: 1;
}

.carousel-button {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 30px;
    top: 25%;
    cursor: pointer;
}

.carousel-button:hover,
.carousel-button:focus {
    font-size: 35px;
}

.carousel-button:focus {
    font-size: 35px;
}

.carousel-button.prev {
    left: -38px;
}

.carousel-button.next {
    right: -32px;
}

/* ABOUT */

.about_slogan-text {
    padding: 50px 0 50px 0;
    text-align: center;
    border-bottom: 1px solid black;
}

.about_content {
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}

.about_content-img {
    width: 300px;
}

.about_content h2 {
    text-align: center;
}

@media screen and (min-width: 767px) {

    /* LAYOUT */

    .layout_content {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }

    .more-content {
        order: +1;
    }

    .new-content,
    .new-content_intro,
    .outline_1 {
        width: 710px;
    }

    .about,
    .about_slogan,
    .about_content {
        width: 490px;
    }

    .about_slogan {
        padding-top: 16px;

    }

    .about_outline {
        border-left: 1px solid black;
    }

    /* LAST POST */

    .new-content_img, .new-content_cta {
        width: 700px;
    }

    /* ABOUT */

    .about_content {
        align-items: center;
        height: 555px;
    }

    .about_slogan-text {
        margin-bottom: 0px;
    }

    .about_content-img {
        display: block;
        margin: auto;
        margin-top: 20px;
        width: 468px;
        height: 324px;
    }

    .about_content h2 {
        margin-top: 30px;
        margin-bottom: 40px;
    }

    .about_content p {
        width: 468px;
        margin: 0 auto;
        text-align: center;
    }

    /* CAROUSEL */

    .more-content_h2 {
        text-align: center;
    }
    
    .carousel {
        width: 220px;
        height: 350px;
        margin: 0 0 20px 38px;
        position: relative;    
    }
    
    .carousel>ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    
    .slide {
        position: absolute;
        inset: 0;
        opacity: 0;
    }
    
    .slide>img {
        display: block;
        width: 220px;
        height: 208px;
        object-fit: cover;
        object-position: center;
    }
    
    .slide[data-active] {
        opacity: 1;
        z-index: 1;
    }
    
    .carousel-button {
        position: absolute;
        z-index: 2;
        background: none;
        border: none;
        font-size: 30px;
        top: 25%;
        cursor: pointer;
    }
    
    .carousel-button:hover,
    .carousel-button:focus {
        font-size: 35px;
    }
    
    .carousel-button:focus {
        font-size: 35px;
    }
    
    .carousel-button.prev {
        left: -38px;
    }
    
    .carousel-button.next {
        right: -32px;
    }
}