@import url(/css/import/header.css);

.outline_1 {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-top: 28px;
}

.outline_2 {
    border-bottom: 1px solid black;
    width: 300px;
}

.new-content_img {
    width: 300px;
    margin-top: 20px;
}

.new-content_cta {
    background-color: #7cea83;
    height: 44px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.new-content_cta a {
    color: white;
    display: flex;
    margin-left: 10px;
}

/* CAROUSEL */

.more-content_h2 {
    text-align: center;
}

#wrapper_carousel {
    width: 100%;
    max-width: 1200px;
    position: relative;
}

#carousel {
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    height: 400px;
}

#carousel::-webkit-scrollbar {
    height: 0;
}

#prev,
#next {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #7cea83;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.20);
    opacity: 0.7;
    border: none;
    border-radius: 15px;
    padding: 8px;
    outline: 0;
    cursor: pointer;
    position: absolute;
}

#prev {
    top: 40%;
    left: 0;
    transform: translate(50%, -50%);
    display: none;
}

#next {
    top: 29%;
    right: 0;
    transform: translate(-50%, 80%);
}

.carousel_content {
    display: flex;
    width: 400px;
    height: 350px;
    margin: 0 0 20px 38px;
    display: flex;
    gap: 10px;
}

.item {
    width: 220px;
    height: 208px;
    object-fit: cover;
    object-position: center
}

.mySlides {
    height: 400px;
}

.mySlides a {
    height: 400px;
}

/* ABOUT */

.about_slogan-text {
    padding: 50px 0 50px 0;
    text-align: center;
    border-bottom: 1px solid black;
}

.about_content {
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}

.about_content-img {
    width: 300px;
}

.about_content h2 {
    text-align: center;
}

/* TABLET */
@media screen and (min-width: 481px) {
    .new-content_img {
        width: 600px;
        margin-top: 20px;
    }    

    #wrapper_carousel, .outline_2, .about_content-img {
        width:600px;
    }
}

/* SMALL SCREEN */
@media screen and (min-width: 769px) {

    /* LAYOUT */

    .layout_content {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }

    .more-content {
        order: +1;
    }

    .new-content,
    .new-content_intro,
    .outline_1 {
        width: 490px;
    }

    .about,
    .about_slogan,
    .about_content {
        width: 410px;
    }

    .about_slogan {
        padding-top: 18px;
    }

    .about_outline {
        border-left: 1px solid black;
    }

    /* LAST POST */

    .outline_2 {
        border-bottom: none;
    }

    .latest_post h1{
        margin-top: 0px;
    }

    .mySlides {
        border-right: 1px solid black;
        padding-right: 15px;
        height: 400px;
    }

    .new-content_img {
        width: 480px;
        height: 466px;
        object-fit: cover;
    }

    .new-content_cta {
        width: 480px;
    }

    /* ABOUT */

    .about_content {
        align-items: center;
        height: 554px;
    }

    .about_slogan-text {
        margin-bottom: 0px;
        padding: 64.5px 0 50px 0;
    }

    .about_content-img {
        display: block;
        margin: 20px 0 0 10px;
        width: 400px;
        height: 324px;
    }

    .about_content h2 {
        margin-top: 30px;
        margin-bottom: 40px;
    }

    .about_content p {
        width: 410px;
        margin: 0 auto;
        text-align: center;
    }

    /* CAROUSEL */

    #carousel {
        width: 900px;
    }

    #next {
        right: -200%;
    }
}

/* BIG SCREEN*/
@media screen and (min-width: 1025px) {

    /* LAYOUT */
    .new-content,
    .new-content_intro,
    .outline_1 {
        width: 710px;
    }

    .about,
    .about_slogan,
    .about_content {
        width: 490px;
    }

    /* LAST POST */

    
    .new-content_img {
        width: 700px;
        height: 452px;
        object-fit: cover;
    }

    .new-content_cta {
        width: 700px;
    }

    /* ABOUT */

    .about_slogan-text {
        margin: 24px 0 0 0;
    }

    .about_content-img {
        margin: auto;
        margin-top: 20px;
        width: 468px;
    }

    .about_content {
        height: 539px;
    }

    .about_content p {
        width: 468px;
    }

    /* CAROUSEL */

    #carousel {
        width: 1200px;
    }

    #next {
        right: -300%;
    }
} 
